<div style="margin: 50px" class="ui container">
  <h1>{{ padlet?.title }}</h1>
  <div class="header">By {{ padlet?.creator?.firstname }} {{ padlet?.creator?.lastname }}<br>{{ padlet?.created_at | date: 'dd.MM.yyyy' }}</div><br>
  <div *ngIf="padlet && padlet.is_public">
    <span class="ui label" *ngIf="padlet.is_public == true; else privat">public</span><br>
    <ng-template #privat><span class="ui label">privat</span></ng-template><br>
  </div>

  <div>
    <button class="ui small button" (click)="removePadlet()"><i class="delete icon"></i>Delete Padlet</button>
  </div>

<!--  <span><button class="ui small button"><i class="delete icon"></i>Delete Padlet</button></span>-->
<!--  <span><button class="ui small button" [routerLink]="['/padlet/create', padlet?.id]"><i class="edit icon"></i>Edit</button></span>-->

  <hr>
  <h2>Entries</h2>
  <span><button class="ui small button" [routerLink]="['/padlets' ,padlet?.id, 'entry', 'create']"><i class="plus icon"></i>Add Entry</button></span><br><br>

  <div class="ui card" *ngFor="let entry of padlet?.entries">
    <div class="content">
      <span class="header">{{ entry?.title }}<br></span>
      <span class="meta">{{ entry?.creator?.firstname }} {{ entry?.created_at | date: 'dd.MM.yyyy'}}<br></span><br>
      <span class="description">{{ entry?.text }} </span><br>


      <span class="description">By {{ entry?.creator?.firstname }} {{ entry?.creator?.lastname }}</span><br>


      </div>

    <div class="extra content">
      <span class="left floated">
          <div class="ui mini button"><i class="edit icon"></i>Edit</div>
      </span>
      <span class="right floated">
          <div class="ui mini button" (click)="removeEntry()"><i class="delete icon"></i>Delete</div>
      </span>
    </div>
  </div>
  <br>
  <button class="ui button" [routerLink]="['/padlets']">Back to all padlets</button>
</div>


