<div style="margin: 50px" class="ui container">
  <h1>Create new Padlet</h1>
  <form  class="ui large form" [formGroup]="padletForm" (ngSubmit)="submitForm()">
    <input type="hidden" formControlName="id">
    <div class="field">
      <label>Titel</label>
      <input formControlName="title">
      <div *ngIf="errors['title']" class="ui negative message"> {{ errors['title'] }} </div>
    </div>

    <button type="submit" class="ui button" [disabled]="padletForm.invalid">Speichern</button>
    <br><br><button class="ui button" [routerLink]="['/padlets/']">Back to all padlet</button>
  </form>
</div>
